h1 {
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: sans-serif;
}

h2 {
  font-style: italic;
  text-align: center;
  color: grey;
}

h3 {
  color:lightblue;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
  width: 400px;
  height: 300px;
}

p {
  color: white;
}

body {
  background-image: url('img/blacksand.jpg');
  text-align: center;
  font-family: sans-serif;
}
